main {
  border: black 5px solid;
  margin-left: 15%;
  margin-right: 15%;
}

main p {
  font-family: sans-serif;
  padding-left: 5px;
}

main img {
  display: inline-block;
  border-radius: 0%;
  padding-left: 17px;
}

main img:first-of-type {
  width: 98%;
  padding: 1%;
  border-radius: 0%;
}

section {
  width: 70%;
  position: relative;
}

section h1, h2 {
  margin-left: 45%;
  text-align: center;
}

section h1 {
  font-family: 'Bad Script', cursive;
}

section h2 {
  font-family: sans-serif;
}

section p {
  font-family: sans-serif;
  position: relative;
  width: 143%;
  border: black 2px solid;
  text-align: center;
}

section a:link {
  color: #5D5D81;
}

section a:hover {
  color: #5D5D81;
}

section a:visited {
  color: #5D5D81;
}

aside {
  border-top: black 5px solid;;
  border-bottom: black 5px solid;
  border-right: black 2.5px solid;
  border-left: black 5px solid;
  display: block;
  position: absolute;
  padding-left: 7px;
  width: 5%;
  right: 85%;
  top: 112%
}

aside img:first-child {
  width: 60%;
  border-radius: 0%;
  margin-left: 15%;
  padding-top: 8px;
  padding-bottom: 8px;
  display: border;
}

aside h3 {
  margin-left: 0px;
  padding-left: 15%;
  position: relative;
  font-size: 13px;
  display: inline;
}

.img-inline-block {
  display: inline-block;
}

.wrapper-left {
  float: left;
}

.relative-container {
  position: relative;
}
