/*SAME*/

header {
  background-color: #902D41;
  height: 80px;
  width: 100%;
  padding: 25px 0 25px 0;

}

/*SAME slight change*/
header nav ul {
  list-style-type: none;
  float: right;
  max-width: 35%;
  padding: 10px;
}

/*SAME*/
header nav ul li{
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #FF007F;
  border-radius: 5px;
}

/*SAME*/
header nav ul li a{
   color:#004FFF;
   padding: 5px;
}

header a{
   color:#004FFF;
   padding: 10px;
   margin: 10px;
}

/*SAME*/
header h1 {
  float: left;
  max-width: 60%;
}

header~section {
  position: relative;
  margin: 0px;
}

body section {
  text-align:center;
  top: 5px;
  border-top: #004FFF 7px solid;
  border-bottom: #004FFF 7px solid;
}

section h1{
  font-size: 60px;
}

main {
  position: relative;
  top: 10px;
  margin-left: 30px;
}

main p~img {
  display: inline-block;
  height: 200px;
  max-width: 200px;
}

/*NEW*/
div {
  float: right;
  max-width: 80%

}

/*NEW*/
aside {
  float: left;
  max-width: 25%;
  left: 25px;
  border: #004FFF 7px solid;
}

aside img {
  display: block;
  text-align:center;
  padding: 5px;
  height: 45px;
}


footer {
  clear: both;
  background-color: #902D41;
  /*position: absolute;
  top: 0px;*/
  height: 200px;
  width: 100%;
}

#left {
  float: left;
  position: absolute;
  max-width: 65%;
}

#go-left {
  padding-top: 15px;
  position: relative;
}


#disclaimer {
  position: relative;
}

footer nav ul li {
  float: right;
  max-width: 30%;
  display: inline-block;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
}

header nav ul {
  list-style-type: none;
  float: right;
  max-width: 35%;
}

header nav ul li{
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}
