main {
  padding-top: 0px;
  width: 80%;
  float: right;
  border-style: solid;
  border-color: red;
  border-width: thin;
}

.article-header-image img {
  top: 10px;
  left: 10px;
  width: 100%;
}

#article-desc {
  /* Line it up correctly within the div */
  position: relative;
  top: 250px;
  left: 200px;
  padding: 20px 10px 20px 50px;
  width: 100%;
  box-sizing: border-box;

  /* Make it look like meme text */
  color: white;
  font-family: impact, sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px black,
               2px -2px black,
               -2px 2px black,
               -2px -2px black;

}

#article-info {
  position: relative;
  
}
