
html {
   font-family: 'monoid'
}

a {
  text-decoration: none;
}

/*###############################
#################################
## Header with Login & Signup buttons
## use scaffolding background color to help 
## distinguish each
#################################
################################*/

header {
  background-color: lightblue;
  padding: 50px 75px 10px 75px;
  height: 125px;
}

nav {
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 100px;
  float: right;
}
h1 {
  padding: 5px;
  font: 0.75rem
}




/*###############################
#################################
## Main  with H1 Kitty Corner 
##            h2 Cats Pjamas
#################################
################################*/
main {
  background-color: lightyellow;
  max-width: 75%;
}

div {
  float: left;
  width: 85%;
  clear: left;
}

section {
  margin-right: 30px;
}



/*###############################
#################################
## section class="post-content"
## contains post content
## nothing appears to complex here
#################################
################################*/

.post-content {
  border:5px solid black;
  background-color: orange;
}


/*###############################
#################################
## aside id="top-cats"
## img border radius: 50;
## text appears truncated
## to the right of artice/ post content
#################################
################################*/
aside {
  margin-top: 250px;
  background-color: lightblue;
}
#top-cats {
  float: right;
  width: 15%;
}

.round {
  margin: 20px;
  border-radius: 50%;
}

aside p {
  margin: 10px;
  align-content: center;
}
/*###############################
#################################
## footer
## copyright
## nav with about and contact
#################################
################################*/

footer {
  background-color:#CFFB4C ;
  display: inline-block
}

footer > h4 {
  font-size: 1rem;
  padding: 10px;
  margin:5px;
}

footer > p {
  font-size: 0.5rem;
  padding: 10px;
  margin:5px;
}

#disclaimer {}






